.cardContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-flow: row;
    
}

@media (max-width: 390px) {
    .cardContainer{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        flex-flow: row;
    }
}