.cardContainer{
    display: flex;
}
.character-card{
    align-items: baseline;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 20px;
    border-radius: 30px;
    width: 200px;
    text-align: center;
}

.title{
    color: white;
    word-spacing: normal;
    width: auto;

}


.character-card img{
    width: 100%;
    margin-bottom: 20px; 
    height: auto;
}

.character-card p {
    margin: 3px 0;
    color: white;
}



.botonDescripcion{
    padding: 10px 20px;
  background-color: gray;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
  
}

@media (max-width: 390px) {
    .character-card{
        width: 80vh;
    }
    .character-card img {
        width: 30vh;
    }
}
